[submodule "themes/hugo-theme-iris"]
	path = themes/hugo-theme-iris
	url = https://github.com/peaceiris/hugo-theme-iris.git
[submodule "themes/hugo.386"]
	path = themes/hugo.386
	url = https://gitlab.com/maxlefou/hugo.386
[submodule "themes/hugo-notepadium"]
	path = themes/hugo-notepadium
	url = https://github.com/cntrump/hugo-notepadium.git
[submodule "themes/vienna"]
	path = themes/vienna
	url = https://github.com/keichi/vienna
[submodule "themes/hugo-tikva"]
	path = themes/hugo-tikva
	url = https://github.com/geschke/hugo-tikva
